@charset "ISO-8859-1";
.login{
	background-color:#396EB0;
	border-radius:10px;
	position: absolute;
	top:20%;
	left : 30%;
	width:40%;
	text-align:center;
	justify-items : space-around;
}
body{
	background-color:#DADDFC;
	color:#2E4C6D
}
.input{
	border-radius:5px;
	margin :10px 10px 10px 10px;
	padding: 10px 20px
}